{
  "presets": ["react", "env", "airbnb"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-object-rest-spread",
    "transform-runtime",
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }]
  ]
}
