# /node_modules and /bower_components ignored by default
node_modules/

# ignore build files
build/
dist/
# coverage reports
coverage/
*.test.js
*.scss
*.css


styleguide.config.js
webpack.config.js
webpack.prod.config.js
