.checkbox {
  user-select: none;
  cursor: pointer;
  &:active, &:focus {
    outline: none;
  }
  &.is-disabled {
    color: get-color('disabled', 'light');
    cursor: not-allowed;
  }
  .label, .icon {
    vertical-align: middle;
  }
  .icon {
    @include padding-right(16px);
  }
}
