.select {
  display: block;
  cursor: pointer;
  .menu-container {
    width: 100%;
  }
  .value {
    text-transform: capitalize;
    min-width: 90px;
    background: $color-background;
    border-radius: 2px;
    display: block;

    &:active, &:focus {
      outline: none;
    }
    .text {
      display: inline-block;
      height: 24px;
      line-height: 24px;
    }
    .icon {
      padding: 0;
      margin: 0;
      font-size: 20px;
      @include float-right;
    }
  }
  .select-item {
    height: 24px;
    line-height: 24px;
    &.is-selected {
      background: rgba($color-black, 0.2);
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    .value {
      color: $color-text-disabled;
    }
  }
}
