
.text-primary {
  color: get-color('primary', 'light');
}


.text-secondary {
  color: get-color('secondary', 'light');
}

.text-success {
  color: get-color('success', 'light');
}

.text-info {
  color: get-color('info', 'light');
}

.text-warning {
  color: get-color('warning', 'light');
}

.text-danger {
  color: get-color('danger', 'light');
}

.text-disabled {
  color: get-color('disabled', 'light');
}

.background-primary {
  background: get-color('primary', 'light');
}


.background-secondary {
  background: get-color('secondary', 'light');
}

.background-success {
  background: get-color('success', 'light');
}

.background-info {
  background: get-color('info', 'light');
}

.background-warning {
  background: get-color('warning', 'light');
}

.background-danger {
  background: get-color('danger', 'light');
}

.background-disabled {
  background: get-color('disabled', 'light');
}
