
.white-text {
  color: $color-white;
}
.white-background {
  background: $color-white;
}
.black-text {
  color: $color-black;
}
.black-background {
  background: $color-black;
}
.primary-text {
  color: $color-primary;
}
.primary-background {
  background: $color-primary;
}
.secondary-text {
  color: $color-secondary;
}
.secondary-background {
  background: $color-secondary;
}
.success-text {
  color: $color-success;
}
.success-background {
  background: $color-success;
}
.info-text {
  color: $color-info;
}
.info-background {
  background: $color-info;
}
.warning-text {
  color: $color-warning;
}
.warning-background {
  background: $color-warning;
}
.danger-text {
  color: $color-danger;
}
.danger-background {
  background: $color-danger;
}
