.bottom-line{
  position: relative;
  height: 2px;
  .unactive-line{
    position: absolute;
    top: 1px;
    height: 1px;
    background: darken($color-white, 42%);
    width: 100%;
  }
  .active-line {
    position: absolute;
    display: block;
    border-radius: 1px;
    height: 2px;
    left: 50%;
    background: $color-primary;
    width: 0;
    transition: 220ms;
  }
  .disabled-line {
    position: absolute;
    display: none;
    box-sizing: border-box;
    height: 2px;
    width: 100%;
    border-bottom: 1px dotted $color-text-disabled;
  }
  &.is-active {
    .active-line  {
      width: 100%;
      left:0;
    }
  }
  &.is-disabled {
    .active-line, .unactive-line {
      display: none;
    }
    .disabled-line {
      display: block;
    }
  }
}
