.rail {
  position: absolute;
  opacity: 0;
  z-index: 9999;
}
.has-focus > .rail {
  opacity: 1;
}
.rail.vertical-rail {
  @include right(9px);
  @include left(0);
  bottom: 0;
}
.rail.horizontal-rail {
  top:0;
  bottom: 9px;
  @include right(0);

}
