
.thumb {
  position: relative;
  box-sizing: border-box;
  user-select: none;
  border-radius: 3px;
  cursor: pointer;
}

.thumb.vertical-thumb {
  min-width: 9px;
  height: 6px;
  & > div {
    position: absolute;
    display: block;
    right: 2px;
    left: 2px;
    height: 2px;
    top:2px;
    border-radius: 1px;
    background: get-color('disabled', 'light');
  }
}
.thumb.horizontal-thumb {
  width: 6px;
  min-height: 9px;
  & > div {
    position: absolute;
    display: block;
    top:2px;
    bottom: 2px;
    width: 2px;
    left:2px;
    border-radius: 1px;
    background: get-color('disabled', 'light');
  }
}

.mouse-over.thumb ,
.drag-start.thumb {
  background: rgba(lighten(get-color('primary', light), 0.15), 0.2);

    div {
      background: get-color('primary', light);
    }
}
