.rail {
  position: absolute;
  opacity: 0;
}
.has-focus > .rail {
  opacity: 1;
  margin: 0;
  padding: 0;
}
.rail.vertical-rail {
  bottom: 0;
  left: 9px;
  right: 9px;
}
.rail.horizontal-rail {
  top: 9px;
  bottom: 9px;
  @include right(0);

}
