$line-height: 1.3 !default;

// units
$depth-unit: 4px !default;
$radius-unit: 2.5px !default;

// font
$font-size: 14px !default;

$colors: (
  light: (
    primary: #FF911D,
    secondary: #177D9F,
    white: #FFF,
    black: #000,
    background: #FFF,
    success: #4dbd74,
    info: #63c2de,
    warning: #f8cb00,
    danger: #f83c3b,
    text: darken(#FFF, 87%),
    text-alternative: #FFF,
    disabled: darken(#FFF, 25%),
    caption: darken(#FFF, 54%)
  ),
  dark: (
    primary: #FF911D,
    secondary: #177D9F,
    white: #FFF,
    black: #000,
    background: #FFF,
    success: #4dbd74,
    info: #63c2de,
    warning: #f8cb00,
    danger: #f83c3b,
    text: lighten(#000, 15%),
    text-alternative: #FFF,
    disabled: darken(#FFF, 25%),
    caption: darken(#FFF, 54%)
  )
) !default;

@function get-color($name, $variant) {
  @return map-get(map-get($colors, $variant), $name);
}

@mixin dark {
  .dark &, &.dark {
    @content;
  }
}

@mixin light {
  .light &, &.light {
    @content;
  }
}
// colors
// $color-primary:             #FF911D !default;
// $color-secondary:           #177D9F !default;
// $color-white:               #FFF !default;
// $color-black:               #000 !default;
// $color-text:                lighten($color-black, 15%) !default;
// $color-text-alternate:        $color-white;
// $color-background:            $color-white !default;
// $color-background-alternate:  $color-text;
//
// $color-success:             #4dbd74 !default;
// $color-info:                #63c2de !default;
// $color-warning:             #f8cb00 !default;
// $color-danger:              #f83c3b !default;

// $color-text-display: darken($color-white, 54%);
// $color-text-display-alternate: $color-text-alternate;
// $color-text-headline: darken($color-white, 87%);
// $color-text-title: darken($color-white, 87%);
// $color-text-subheading: darken($color-white, 87%);
// $color-text-body: darken($color-white, 87%);
// $color-text-menu: darken($color-white, 87%);
// $color-text-button: darken($color-white, 87%);
// $color-text-caption: darken($color-white, 54%);
// $color-text-disabled: darken($color-white, 25%);
