.subheader {
  display: block;
  font-family: 'Roboto', sans-serf;
  font-weight: 300;
  font-size: 12px;
  color: get-color('caption', 'light');
  &:first-letter {
    text-transform: uppercase;
  }
}
