$flat_button-focused-background: darken($color-background, 15%);

$flat-button-text-light: darken(get-color('background', 'light'), 87%);
$flat-button-bg-focues-light: darken(get-color('background', 'light'), 15%);

$flat-button-text-dark: lighten(get-color('background', 'dark'), 87%);
$flat-button-bg-focues-dark: lighten(get-color('background', 'dark'), 15%);

.button {
  @extend %ripple;
  border: none;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $flat-button-text-light;
  border-radius: 2px;
  padding: 0 8px;
  margin: 0 8px;
  height: 36px;
  min-width: 88px;
  & > span {
    vertical-align: middle;
  }
  & > .icon {
    font-size: 18px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }
  .icon + .label {
    @include ltr{
      margin-left: 8px;
    }
    @include rtl{
      margin-right: 8px;
    }
  }
}
.button.flat {
  border: 8px;
  &:focus, &:hover {
    background: $flat-button-bg-focues-light;
  }

}

.flat.button:disabled {
  background-color: darken($color-white, 12%);
  color: $color-text-disabled;
}
.raised.button {
  margin: 4px 8px;
  &:active {
    box-shadow: 0 1px 4px 2px rgba($color-black, 0.5);
  }
  &:focus {
    background-color: $flat_button-focused-background;
  }
  &:disabled {
    background-color: darken($color-white, 12%);
    color: $color-text-disabled;
  }
}
.raised.button.primary {
  background: $color-primary;
  &:active {
    box-shadow: 0 1px 4px 2px rgba($color-primary, 0.7);
  }
  &:focus {
    background: darken($color-primary, 5%);
  }
}

.raised.button.secondary {
  background: $color-secondary;
  &:active {
    box-shadow: 0 1px 4px 2px rgba($color-secondary, 0.7);
  }
  &:focus {
    background: darken($color-secondary, 5%);
  }
}

.raised.button.success {
  background: $color-success;
  &:active {
    box-shadow: 0 1px 4px 2px rgba($color-success, 0.7);
  }
  &:focus {
    background: darken($color-success, 5%);
  }
}

.raised.button.info {
  background: $color-info;
  &:active {
    box-shadow: 0 1px 4px 2px rgba($color-info, 0.7);
  }
  &:focus {
    background: darken($color-info, 5%);
  }
}

.raised.button.warning {
  background: $color-warning;
  &:active {
    box-shadow: 0 1px 4px 2px rgba($color-warning, 0.7);
  }
  &:focus {
    background: darken($color-warning, 5%);
  }
}

.raised.button.danger {
  background: $color-danger;
  &:active {
    box-shadow: 0 1px 4px 2px rgba($color-danger, 0.7);
  }
  &:focus {
    background: darken($color-danger, 5%);
  }
}
