.button_group {
  display: inline-flex;
  flex-direction: row;
  margin: 8px 16px;
  border-radius: 2px;
  &.raised {
    box-shadow: 0 1px 2px 1px rgba($color-black, 0.5);
    .button {
      @extend .raised;
      margin: 0;
      box-shadow: none;
    }
  }
  .button {
    border-radius: 0;
    margin: 0;
  }
  @include ltr {
    .button:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    .button:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  @include rtl {
    .button:first-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    .button:last-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  .button.raised {
    box-shadow: none
  }
}
