.toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;

  box-sizing: border-box;
  min-height: 46px;
  padding: 8px 16px;

  user-select: none;
  background: get-color('primary', 'light');
  color: get-color('text-alternative', 'light');
  //margin-bottom: 16px;
  .separator{
    flex-grow: 1;
  }
  .logo-container {
    min-width: 120px;
    text-align: center;
  }
  .actions-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    * {
      color: get-color('text-alternative', 'light');
    }
  }
  .title-container {

    &.has-subheader {
      .title {
        font-size: 12px;
      }
    }
  }
}
