
.gridlist {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .gridlist-tile {
    position: relative;
    margin: 8px;
    border: 1px solid black;
    width: 300px;
    min-height: 300px;
    & > img {
      position: absolute;
      width: 100%;
    }
  }
}
