.card-paragraph {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-indent: 24px;
  color: $color-text-display;

  .scrollbar-content{
    padding: 16px 24px !important;
  }
  .rail {
  }
}
