.card-paragraph {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-indent: 24px;
  color: $color-text-display;
  height: 320px;
  .scrollbar-content{
    padding: 16px 24px !important;
  }
}
