.text-counter {
  font-size: 9px;
  .out-of {
  }
  .max, .count {
  }
  &.is-long {
    .max, .count {
      color: $color-danger;
      font-weight: bold;
    }
  }
  &.is-short {
    .count {
      color: $color-danger;
      font-weight: bold;
    }
  }

}
