@import '~draft-js/dist/Draft.css';
@import './ui/variables.scss';
@import './ui/mixins/context-direction.scss';
@import './ui/mixins/include-media.scss';
@import './ui/utils/fonts.scss';
@import './ui/utils/reset.scss';
@import './ui/utils/helper_classes.scss';


@import './ui/placeholders/ripple.scss';
@import './ui/placeholders/caption.scss';
@import './ui/utils/grid.scss';
@import './ui/utils/common-classes.scss';

%display {
  color: $color-text-display;
}
%display-1 {
  @extend %display;
  font-size: 76px;
}
$colors: (
  light: (
    primary: #FF911D,
    secondary: #177D9F,
    white: #FFF,
    black: #000,
    background: #FFF,
    success: #4dbd74,
    info: #63c2de,
    warning: #f8cb00,
    danger: #f83c3b,
    text: lighten(#000, 15%),
    text-alternative: #FFF
  ),
  dark: (
    primary: #FF911D,
    secondary: #177D9F,
    white: #FFF,
    black: #000,
    background: lighten(#FF911D, 10%),
    success: #4dbd74,
    info: #63c2de,
    warning: #f8cb00,
    danger: #f83c3b,
    text: darken(#FFF, 15%),
    text-alternative: #FFF
  )
);

body {
  background: get-color('background', 'light');
  color: get-color('text', 'light');
}
body.dark {
  background: get-color('background', 'dark');
  color: get-color('text', 'dark');
}
//components
@import './ui/components/components';
