//@import '~draft-js/dist/Draft.css';
$colors: (
  light: (
    primary: #FF911D,
    secondary: #177D9F,
    white: #FFF,
    black: #000,
    background: #FFF,
    success: #4dbd74,
    info: #63c2de,
    warning: #f8cb00,
    danger: #f83c3b,
    text: darken(#FFF, 87%),
    text-alternative: #FFF,
    disabled: darken(#FFF, 25%),
    caption: darken(#FFF, 54%)
  ),
  dark: (
    primary: #FF911D,
    secondary: #177D9F,
    white: #FFF,
    black: #000,
    background: darken(#FF911D, 40%),
    success: #4dbd74,
    info: #63c2de,
    warning: #f8cb00,
    danger: #f83c3b,
    text: darken(#fff, 15%),
    text-alternative: #000,
    disabled: lighten(#000, 25%),
    caption: lighten(#000, 54%)
  )
);

@import "./ui/animate";
@import './ui/variables';
@import './ui/mixins/context-direction';
@import './ui/mixins/include-media';

@import './ui/utils/fonts';
@import './ui/utils/reset';
@import './ui/utils/grid.scss';
@import './ui/utils/common-classes.scss';


@import './ui/placeholders/ripple.scss';
@import './ui/placeholders/caption.scss';


body {
  background: get-color('background', 'light');
  color: get-color('text', 'light');
}
body.dark {
  background: get-color('background', 'dark');
  color: get-color('text', 'dark');
}
//components
@import './ui/components';
