$prefix: fdl;
$line-height: 1.3 !default;

// units

$depth-unit: 4px !default;
$radius-unit: 2.5px !default;

// font
$font-size: 14px !default;


// colors
$color-primary:           #FF911D !default;
$color-secondary:             #177D9F !default;
$color-white:               #FFF !default;
$color-black:               #000 !default;
$color-text:                lighten($color-black, 15%) !default;
$color-text-alternate:      $color-white;
$color-background:          $color-white !default;
$color-background-alternate: $color-text;

$color-success:             #4dbd74 !default;
$color-info:                #63c2de !default;
$color-warning:             #f8cb00 !default;
$color-danger:              #f83c3b !default;

$color-text-display: darken($color-white, 54%);
$color-text-display-alternate: $color-text-alternate;
$color-text-headline: darken($color-white, 87%);
$color-text-title: darken($color-white, 87%);
$color-text-subheading: darken($color-white, 87%);
$color-text-body: darken($color-white, 87%);
$color-text-menu: darken($color-white, 87%);
$color-text-button: darken($color-white, 87%);
$color-text-caption: darken($color-white, 54%);
$color-text-disabled: darken($color-white, 25%);
